extends layout

block scripts
    script(src="/socket.io/socket.io.js")
    script(src="/js/soc.js")

block content
    .ui.segment
        .ui.vertical.pointing.menu
          a.active.item
            | Pratiman Joshi
          a.item
            | Rashi Pandey
          a.item
            | Rakshit Gaira

