extends layout

block scripts
    script(src="/socket.io/socket.io.js")
    script(src="/js/soc.js")
    script window.onload = function(){ sessionStorage.setItem('id',"#{user._id}") }

block content
    .ui.segment
        .ui.vertical.pointing.menu  
          each user in users
            unless (locals.user._id.equals(user._id))
                a.item(data-id=`${user._id}`) #{user.name}

