extends layout
    
block content
    .container
        .row
            .col-md-4.col-lg-4.col-sm-12.offset-md-4.offset-lg-4.animated.rubberBand
                h1.text-center(style="font-family: 'Audiowide', cursive;") ChatAoo
                .card
                    .card-block(style="padding-bottom:2px")
                        ul.nav.nav-tabs(role='tablist')
                            li.nav-item
                                a.nav-link.active(data-toggle='tab', href='#home') Login
                            li.nav-item
                                a.nav-link(data-toggle='tab', href='#profile') Sign Up!
                    .tab-content
                        #home.tab-pane.active
                            .card-block
                                form.ui.form(action="/login" method="POST")
                                    .form-group
                                        label Username
                                        input.form-control(type='text', name='username', placeholder='Username' autofocus)
                                    .form-group
                                        label Password
                                        input.form-control(type='password', name='password', placeholder='Password')
                                    button.btn.btn-outline-success(type='submit') Login
                        #profile.tab-pane
                            .card-block
                                form.ui.form(action="/register" method="POST")
                                    .form-group
                                        label Name
                                        input.form-control(type='text', name='name', placeholder='Name')
                                    .form-group
                                        label Username
                                        input.form-control(type='text', name='username', placeholder='Username')
                                    .form-group
                                        label Password
                                        input.form-control(type='password', name='password', placeholder='Password')
                                    .form-group
                                        label Confirm Password
                                        input.form-control(type='password', name='password-confirm', placeholder='Confirm Password')
                                    button.btn.btn-outline-success(type='submit') Sign Up
