doctype html
html
  head
    title #{title || 'Chat App'} | ChatAoo
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.js')
    link(href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet")
  body
    block header
      .ui.secondary.pointing.menu
        a.active.item
          | Home
        .right.menu
          a.item
            | Logout
    block contents
      .ui.segment
        h1(style="font-family:'Permanent Marker', cursive;font-size:42px") ChatAoo 
        .ui.vertical.pointing.menu
          a.active.item
            | Pratiman Joshi
          a.item
            | Rashi Pandey
          a.item
            | Rakshit Gaira

